

			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-home"></i>
						<a href="#/accounting/ledger">Accounting</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">Banking</a>
					</li>
				</ul>


			</div>
			<div class="row">
				<div class="col-md-3">
					<h3 class="page-title">General Ledger</h3> 
				</div>
							<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-list"></i>Ledger
							</div>
							<div class="tools">
								<a href="javascript:;" class="reload">
								</a>
							
							</div>
						</div>
						<div class="portlet-body">
							<form class="form-inline" role="form">
							<div class="row">
								<div class="col-md-2">
								<div class="form-group">
											<div class="input-group">
													<div class="input-group">
														<select class="form-control">
														<option>All Properties</option>
														<option>123 Main St.</option>
														<option>455 5th Ave</option>
														</select>											
													</div>											
											</div>
									</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
											<div class="input-group">
													<div class="input-group">
														<select class="form-control">
														<option>All Accounts</option>
														<option>Asset Accounts</option>
														<option>- Asset Account 1</option>
														<option>- Asset Account 2</option>
														<option>- Asset Account 3</option>
														<option>Liability Accounts</option>
														<option>- Liability Account 1</option>
														<option>- Liability Account 2</option>
														<option>- Liability Account 3</option>
														<option>Income Accounts</option>
														<option>- Income Account 1</option>
														<option>- Income Account 2</option>
														<option>- Income Account 3</option>
														<option>Equity Accounts</option>
														<option>- Equity Account 1</option>
														<option>- Equity Account 2</option>
														<option>- Equity Account 3</option>
														<option>Expense Accounts</option>
														<option>- Expense Account 1</option>
														<option>- Expense Account 2</option>
														<option>- Expense Account 3</option>
														</select>											
													</div>											
											</div>
									</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
														</span>
														<input class="form-control form-control-inline date-picker" placeholder="Range Begin" type="text" value="">
													</div>											
											</div>
									</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-calendar"></i>
														</span>
													<input class="form-control form-control-inline date-picker" placeholder="Range End" type="text" value="">
													</div>											
											</div>
									</div>
								</div>
								<div class="col-md-2">
								<div class="form-group">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-tag"></i>
														</span>
														<select class="form-control">
														<option>Cash</option>
														<option>Accruals</option>
														
														</select>											
													</div>											
											</div>
									</div>
								</div>
								<div class="col-md-2">
								<button type="submit" class="btn green">Update</button>
								</div>
						
							</div>
								</form>
							<hr>
							<div class="row">
								<div class="col-md-2" style="padding-left:30px;">
								Date
								</div>
								<div class="col-md-2" style="padding-left:30px;">
								Property
								</div>
								<div class="col-md-2">
								Name
								</div>
								<div class="col-md-2">
								Description
								</div>
								<div class="col-md-2 text-right" style="padding-left:7.5px;">
								Amount
								</div>
								<div class="col-md-2 text-right" style="padding-left:0px;">
								Balance
								</div>
							</div>
							<div class="panel-group accordion" id="accordion1">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_1" aria-expanded="true">
											<i class="fa fa-plus"></i> Insurance </a>
										</h4>
									</div>
									<div id="collapse_1" class="panel-collapse collapse in" aria-expanded="true">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2 text-right">
												Previous Balance:
												</div>
												<div class="col-md-2 text-right">
												$200
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-2">
												6/12/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Retainer
												</div>
												<div class="col-md-2 text-right">
												$200
												</div>
												<div class="col-md-2 text-right">
												$400
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">
												6/15/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Legal fees for contract
												</div>
												<div class="col-md-2 text-right">
												$400
												</div>
												<div class="col-md-2 text-right">
												$800
												</div>
											</div>
											<hr>
											<div class="row bold">
												<div class="col-md-2 ">
												Total Insurance:
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2 text-right">
												$600
												</div>
												<div class="col-md-2 text-right">
												$800
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_2" aria-expanded="false">
										<i class="fa fa-plus"></i> Repairs </a> </a>
										</h4>
									</div>
									<div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												Previous Balance:
												</div>
												<div class="col-md-2">
												$200
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-2">
												6/12/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Retainer
												</div>
												<div class="col-md-2">
												$200
												</div>
												<div class="col-md-2">
												$400
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">
												6/15/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Legal fees for contract
												</div>
												<div class="col-md-2">
												$400
												</div>
												<div class="col-md-2">
												$800
												</div>
											</div>
											<hr>
											<div class="row bold">
												<div class="col-md-2 ">
												Total Insurance:
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												$600
												</div>
												<div class="col-md-2">
												$800
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_3" aria-expanded="false">
										<i class="fa fa-plus"></i> Landscaping </a> </a>
										</h4>
									</div>
									<div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												Previous Balance:
												</div>
												<div class="col-md-2">
												$200
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-2">
												6/12/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Retainer
												</div>
												<div class="col-md-2">
												$200
												</div>
												<div class="col-md-2">
												$400
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">
												6/15/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Legal fees for contract
												</div>
												<div class="col-md-2">
												$400
												</div>
												<div class="col-md-2">
												$800
												</div>
											</div>
											<hr>
											<div class="row bold">
												<div class="col-md-2 ">
												Total Insurance:
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												$600
												</div>
												<div class="col-md-2">
												$800
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" data-target="#collapse_4" aria-expanded="false">
										<i class="fa fa-plus"></i> Management Fees </a> </a>
										</h4>
									</div>
									<div id="collapse_4" class="panel-collapse collapse" aria-expanded="false">
										<div class="panel-body">
											<div class="row">
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												Previous Balance:
												</div>
												<div class="col-md-2">
												$200
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-md-2">
												6/12/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Retainer
												</div>
												<div class="col-md-2">
												$200
												</div>
												<div class="col-md-2">
												$400
												</div>
											</div>
											<div class="row">
												<div class="col-md-2">
												6/15/12
												</div>
												<div class="col-md-2">
												123 Main St. 
												</div>
												<div class="col-md-2">
												Larry the Lawyer
												</div>
												<div class="col-md-2">
												Legal fees for contract
												</div>
												<div class="col-md-2">
												$400
												</div>
												<div class="col-md-2">
												$800
												</div>
											</div>
											<hr>
											<div class="row bold">
												<div class="col-md-2 ">
												Total Insurance:
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												</div>
												<div class="col-md-2">
												$600
												</div>
												<div class="col-md-2">
												$800
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
<script type="text/javascript">
Layout.refreshNav();
ComponentsPickers.init();

</script>
			