
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-home"></i>
						<a href="#/accounting/ledger">Accounting</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">Banking</a>
					</li>
				</ul>

			</div>
			<div class="row">
				<div class="col-md-3">
					<h3 class="page-title">Bank Accounts</h3> 
				</div>
				<div class="col-md-9 pull-left ng-scope" style="margin-top:20px;">
					<div class="btn-group">
														<a href="#/accounting/banking/add"><button type="button" class="btn blue">Add Account</button></a>
														<button type="button" disabled class="btn blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-angle-down"></i></button>
														
													</div>
				</div>
			</div>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-list"></i>Bank Account Details
							</div>
							<div class="tools">
								<a href="javascript:;" class="reload">
								</a>
							
							</div>
						</div>
						<div class="portlet-body">
								<table class="table table-striped table-bordered table-hover" id="sample_3">
							<thead>
							<tr>
								<th>
									 Name
								</th>
								<th>
									 Account Number
								</th>
								<th>
									 Undeposited Funds
								</th>
								<th>
									 Balance
								</th>
								<th>
									 
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									 ACME Operating <br>
									 <small>For day to day operations of the properties</small>
								</td>
								<td>
									 XXX1234
								</td>
								<td>
									 $3,339
								</td>
								<td>
									$123,322
								</td>
								<td>
									 <a href="#/accounting/banking/edit/1"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							<tr>
								<td>
									 ACME Deposit <br>
									 <small>For all recieved deposits and prepayments</small>
								</td>
								<td>
									 XXX1234
								</td>
								<td>
									 $3,339
								</td>
								<td>
									$123,322
								</td>
								<td>
									 <a href="#/accounting/banking/edit/1"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							<tr>
								<td>
									 APARTMENTS INC Operating <br>
									 <small>For day to day operations of APARTMENTS INC properties</small>
								</td>
								<td>
									 XXX1234
								</td>
								<td>
									 $3,339
								</td>
								<td>
									$123,322
								</td>
								<td>
									 <a href="#/accounting/banking/edit/1"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							<tr>
								<td>
									 APARTMENTS INC Deposit <br>
									 <small>For deposits and prepayments of APARTMENTS INC properties</small>
								</td>
								<td>
									 XXX1234
								</td>
								<td>
									 $3,339
								</td>
								<td>
									$123,322
								</td>
								<td>
									 <a href="#/accounting/banking/edit/1"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
								
							</tbody>
							</table>
						
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				
				</div>
			</div>
			<!-- END PAGE CONTENT-->
			<div class="clearfix">
			</div>
			
			
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>
	