			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-bank"></i>
						<a href="">Bills</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Pay</a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			Pay Bill
			</h3>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i> Bill Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-4 control-label">Bill Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Date" value="6/15/15" disabled>
											</div>
										</div>
									</div><div class="form-group">
										<label class="col-md-4 control-label">Due Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Due Date" value="7/15/15" disabled>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Vendor</label>
										<div class="col-md-8">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-user"></i>
														</span>
														<select class="form-control" disabled>
														<option>Mark's Painting</option>
														<option>Larry the Lawyer</option>
														<option>Landscaping INC</option>
														</select>											
													</div>
													</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Reference Number</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="i.e. Invoice Number" value="1234" disabled>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Comments</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Details?" value="Painted exterior of 123 J ave unit 13" disabled>
											</div>
										</div>
									</div>
									<hr>
									
									<h4>Charges</h4>
									<div class="row bold">
										<div class="col-md-3">
										Property
										</div>
										<div class="col-md-3">
										Account
										</div>
										<div class="col-md-3">
										Description
										</div>
										<div class="col-md-3">
										Amount
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
										123 Main St
										</div>
										<div class="col-md-3">
										Repairs
										</div>
										<div class="col-md-3">
										Painting Labor
										</div>
										<div class="col-md-3">
										$200
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
										123 Main St
										</div>
										<div class="col-md-3">
										Repairs
										</div>
										<div class="col-md-3">
										Supplies
										</div>
										<div class="col-md-3">
										$100
										</div>
									</div>
									
									
									<div class="row">
										<div class="col-md-3">
										
										</div>
										<div class="col-md-3">
										
										</div>
										<div class="col-md-3 text-right bold">
										Total:
										</div>
										<div class="col-md-3 text-left bold">
										$300
										</div>
									</div>
									<hr>
									<div class="input-group">
										<h4>Attached Files</h4>
										<a href=""><i class="fa fa-file"></i> file1.pdf</a>
									</div>
									<hr>
									<h4>Payment Details</h4>
									<div class="form-group">
										<label class="col-md-4 control-label">Payment Account</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
													<select class="form-control" >
														<option>Payment Account</option>
														<option>Operating Account</option>
														<option>Deposit Account</option>
													</select>
										</div>													
											<p class="help-block">
											Operating Account Balance - $34,123
										</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Check Number</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Check Number">
										</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Payment Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
													<input type="email" class="form-control" placeholder="Payment Date">
										</div>
										</div>
									</div>
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button type="submit" class="btn green">Record Payment</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
			<div class="clearfix">
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>
