

			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-bank"></i>
						<a href="">Transactions</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Add</a>
					</li>
				</ul>

			</div>
			<div class="row">
			<div class="col-md-3">
					<h3 class="page-title">Bill Details</h3> 
				</div>
				<div class="col-md-2" style="margin-top:20px;">
					<div class="btn-group">
														<a href="#/transactions/bills/pay/1"><button type="button" class="btn blue">Pay Bill</button></a>
														
													</div>
				</div>
				</div>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i> Transaction Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-4 control-label">Bill Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Date" value="8/12/15">
											</div>
										</div>
									</div><div class="form-group">
										<label class="col-md-4 control-label">Due Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Due Date" value="9/15/15">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Vendor</label>
										<div class="col-md-8">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-user"></i>
														</span>
														<select class="form-control">
														<option selected>Mark's Painting</option>
														<option>Larry the Lawyer</option>
														<option>Landscaping INC</option>
														</select>											
													</div>											
													<p class="help-block">
														<a href="#/vendors/add">[+ Create New Vendor ]</a>
													</p>
													</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Reference Number</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="i.e. Invoice Number" value="123">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Comments</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Details?" value="Repainting 123 J st unit 14">
											</div>
										</div>
									</div>
									<hr>
									
									<h4>Bill Lines</h4>
									<div class="row bold">
										<div class="col-md-3">
										Property
										</div>
										<div class="col-md-3">
										Account
										</div>
										<div class="col-md-3">
										Description
										</div>
										<div class="col-md-3">
										Amount
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
																<select class="form-control">
																<option value="" disabled selected>Property</option>
																<option selected> 123 Main st. </option>
																<option> 123 Main st. </option>
																<option> 123 Main st. </option>
																</select>	
																								
															</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
																<select class="form-control">
																<option value="" disabled selected>Account</option>
																<option selected> Repairs </option>
																<option> 123 Main st. </option>
																<option> 123 Main st. </option>
																</select>											
															</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
																<input type="email" class="form-control" placeholder="Description" value="Labor">										
															</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-dollar"></i>
															</span>
																<input type="email" class="form-control" placeholder="Amount" value="200">										
															</div>
											</div>
										</div>
										
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
																<select class="form-control">
																<option value="" disabled selected>Property</option>
																<option selected> 123 Main st. </option>
																<option> 123 Main st. </option>
																<option> 123 Main st. </option>
																</select>	
										
																<p class="help-block">
																	<a href="">[+ Add Row ]</a>
																</p>																
															</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
																<select class="form-control">
																<option value="" disabled selected>Account</option>
																<option selected> Repairs </option>
																<option> 123 Main st. </option>
																<option> 123 Main st. </option>
																</select>											
															</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
																<input type="email" class="form-control" placeholder="Description" value="materials">										
															</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="input-group">
															<div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-dollar"></i>
															</span>
																<input type="email" class="form-control" placeholder="Amount" value="100">										
															</div>
											</div>
										</div>
										
									</div>
									
									<div class="row">
										<div class="col-md-3">
										
										</div>
										<div class="col-md-3">
										
										</div>
										<div class="col-md-3 text-right bold">
										Total:
										</div>
										<div class="col-md-3 text-left bold">
										$300
										</div>
									</div>
									<hr>
									
									
								</div>
								<div class="row">
									<div class=" col-md-8">
											<h4>Attached Files - <a href=""><i class="fa fa-file"></i> file1.pdf</a> - <button type="button" class="btn red btn-xs">Remove File</button></h4>
									</div>
								</div>
								
									
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button type="submit" class="btn green">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
			<div class="clearfix">
			</div>
			
			
<script type="text/javascript">
Layout.refreshNav();
</script>