
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-tag"></i>
						<a href="#/leases/list">Leases</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">List</a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			Leases
			</h3>
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN EXAMPLE TABLE PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-users"></i>Lease Details
							</div>
							<div class="tools">
								<a href="javascript:;" class="reload">
								</a>
							
							</div>
						</div>
						<div class="portlet-body">
							<table class="table table-striped table-bordered table-hover" id="sample_3">
							<thead>
							<tr>
								<th>
									 Name
								</th>
								<th>
									 Address - Unit
								</th>
								<th>
									 Validity Period (Days Remaining)
								</th>
								<th>
									 Payment
								</th>
								<th>
									 
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>
									 John Smith
								</td>
								<td>
									 123 Main Street - Unit 104
								</td>
								<td>
									 6/1/12-6/1/16 <span class="badge badge-primary"><i class="fa fa-unlink"></i> 566 Days</span>
								</td>
								<td>
									 $1,200 - Monthly
								</td>
								<td>
									 <a href="#/leases/edit/1"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							<tr>
								<td>
									 John Smith
								</td>
								<td>
									 123 Main Street - Unit 104
								</td>
								<td>
									 6/1/12-6/1/16 <span class="badge badge-primary"><i class="fa fa-unlink"></i> 566 Days</span>
								</td>
								<td>
									 $1,200 - Monthly
								</td>
								<td>
									 <a href="#/leases/edit/2"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							<tr>
								<td>
									 John Smith
								</td>
								<td>
									 123 Main Street - Unit 104
								</td>
								<td>
									 6/1/12-6/1/16 <span class="badge badge-primary"><i class="fa fa-unlink"></i> 566 Days</span>
								</td>
								<td>
									 $1,200 - Monthly
								</td>
								<td>
									 <a href="#/leases/edit/2"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							<tr>
								<td>
									 John Smith
								</td>
								<td>
									 123 Main Street - Unit 104
								</td>
								<td>
									 6/1/12-6/1/16 <span class="badge badge-primary"><i class="fa fa-unlink"></i> 566 Days</span>
								</td>
								<td>
									 $1,200 - Monthly
								</td>
								<td>
									 <a href="#/leases/edit/3"><button type="button" class="btn blue btn-xs">Details <span><i class="fa fa-angle-right"></i></span></button></a>
								</td>
							</tr>
							
							
							
							</tbody>
							</table>
						</div>
					</div>
					<!-- END EXAMPLE TABLE PORTLET-->
				
				</div>
			</div>
			<!-- END PAGE CONTENT-->
			<div class="clearfix">
			</div>

<script type="text/javascript">
Layout.refreshNav();
</script>	