
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-home"></i>
						<a href="#/properties/list">Properties</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">Edit</a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			123 Main St. <small>Property</small>
			</h3>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-8">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i>Property Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<div class="row">
								<div class="col-md-6" style="padding-left:25px; padding-top:10px;">
								<h4>Property Photo</h4>
											<a href="javascript:;" class="thumbnail">
											<img src="./assets/img/house.jpg" alt="100%x100%" data-src="holder.js/100%x100%">
											</a>
								</div>
								<div class="col-md-6">
								<form class="form-horizontal" role="form">
									<div class="form-body">
										<div class="form-group">
											<label class="col-md-3 control-label">Client</label>
											<div class="col-md-9">
												<div class="input-group">
													<span class="input-group-addon">
													<i class="fa fa-user"></i>
													</span>
													<select class="form-control">
													<option>Apartments, INC.</option>
													<option>John Smith</option>
													<option>Mike Jones</option>
													
												</select>											
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Address</label>
											<div class="col-md-9">
												<div class="input-group">
													<span class="input-group-addon">
													<i class="fa fa-compass"></i>
													</span>
													<input type="email" class="form-control" placeholder="Street Address" value="123 Main St.">
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Reserve</label>
											<div class="col-md-9">
												<div class="input-group">
													<span class="input-group-addon">
													<i class="fa fa-dollar"></i>
													</span>
													<input type="email" class="form-control" placeholder="Street Address" value="900">
												</div>
											</div>
										</div>
										<div class="form-group">
												<label class="col-md-3 control-label">Units</label>
												<div class="col-md-9">
													<div class="input-group">
													<div class="input-group" style="margin-top:10px;">
														6
													</div>
														</div>
												</div>
										</div>
										<div class="form-group">
												<label class="col-md-3 control-label">Type</label>
												<div class="col-md-9">
													<div class="input-group" style="margin-top:10px;">
														Large Multi (4+ Units)
													</div>
												</div>
										</div>
								</div>
										
										
								</div>
							</div>
								<div class="form-actions">
									<div class="row">
										<div class=" col-md-9">
											<button type="submit" class="btn green">Update <span><i class="fa fa-refresh"></i></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			<div class="col-md-4">
					<!-- BEGIN Portlet PORTLET-->
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-dollar"></i>Cash Statement
							</div>
						</div>
						<div class="portlet-body">
						<span>Cash Balance:</span> <span class="pull-right">$12,000</span><br>
						<span>- Deposits and Prepayments:</span> <span class="pull-right">$1,000</span><br>
						<span>- Reserve:</span> <span class="pull-right">$900</span>
						<hr>
						<span class="bold" >Cash Available:</span> <span class="pull-right bold">$10,100</span>
						</div>
			</div>
					<!-- END Portlet PORTLET-->
			
				
			</div>
			</div>
			<div class="clearfix">
			</div>
			<div class="row">
			<div class="col-md-3">
			<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-hand-o-right"></i>Select Unit
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body">
							<ul class="nav nav-pills nav-stacked" style="max-width: 260px;">
									<li class="">
										<a href="javascript:;">
										101 </a>
									</li>
									<li class="">
										<a href="javascript:;">
										102 </a>
									</li>
									<li class="">
										<a href="javascript:;">
										103 </a>
									</li>
									<li class="active">
										<a href="javascript:;">
										104 </a>
									</li>
									<li class="">
										<a href="javascript:;">
										105 </a>
									</li>
									<li class="">
										<a href="javascript:;">
										106 </a>
									</li>
									
								</ul>
						<button type="button" class="btn btn blue">Add Unit</button>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			
			</div>
			<div class="col-md-9 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-search"></i>Unit Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body">
							<form class="form-horizontal" role="form">
							<div class="unitDetails">
							<h4>Unit 104 Details</h4>
								<hr>
								<div class="bold row">
									<div class="col-md-4">
									Status: <span class="badge badge-round badge-success">Rented</span>
									</div>
									<div class="col-md-4">
									Lease Expires: <span class="badge badge-round badge-warning">45 Days</span>
									</div>
									<div class="col-md-4">
									Rent: $600 Due Monthly <span class="badge badge-round badge-danger">6 Days Late</span>
									</div>
								</div>
								<hr>
								<div class="form-body">
									<div class="row">
										<div class="col-md-5">
										<div class="form-group">
										<label class="col-md-4 control-label">Unit Name</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="e.g. #101 or 'Upper'" value="105">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Sq. Footage</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-crop"></i>
												</span>
												<input type="email" class="form-control" placeholder="Unit Size" value="1200">										
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Bedrooms</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-bed"></i>
												</span>
												<input type="email" class="form-control" placeholder="Number of Bedrooms" value="2">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Bathrooms</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-male"></i>
												</span>
												<input type="email" class="form-control" placeholder="Number of Bathrooms" value="2">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Rent</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-dollar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Monthly Rent" value="900">
											</div>
										</div>
									</div>
										</div>
										<div class="col-md-7">
										<div class="form-group">
										<label class="col-md-3 control-label">Tenants</label>
										<div class="col-md-9">
											<ul class="list-group">
												<li class="list-group-item">
													 Tim Jackson
													 <button class="btn btn-xs btn-danger pull-right" data-toggle="confirmation" data-original-title="Are you sure ?" title="">Remove</button>
												</li>
												<li class="list-group-item">
													 Chris Brown
													 <button class="btn btn-xs btn-danger pull-right" data-toggle="confirmation" data-original-title="Are you sure ?" title="">Remove</button>
													
											</ul>
												<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-user"></i>
												</span>
												<select class="form-control">
													<option selected>Add Tenant</option>
													<option>Create New Tenant</option>
													<option>Jim Jones</option>
													<option>John Smith</option>
													<option>Jim Jones</option>
													<option>John Smith</option>
													<option>Jim Jones</option>
													<option>John Smith</option>
												</select>											</div>
										</div>
									</div>
									<hr>
										
										<strong>Payment Policy:</strong><br> Rent due monthly. $50 fee if recieved after the 5th of each month.
										<br><br>
										<strong>Deposits: </strong><br>$500, recieved Jun-15-2014
										</div>
									</div>
									
									<hr>
									<div class="form-group">
										<label class="col-md-1 control-label">Description</label>
										<div class="col-md-12">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<textarea class="form-control" >A beautiful ground-level unit complete with washer, dryer and parking. Water and basic cable are included in the rent</textarea>
											</div>
										</div>
									</div>
									
									</div>
							<hr>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button type="submit" class="btn blue">Update <span><i class="fa fa-refresh"></i></span></button>
										</div>
									</div>
								</div>
							
						</div></form>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
			</div>
			<div class="clearfix">
			</div>
			
			
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>
	