

			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-home"></i>
						<a href="#/properties/list">Properties</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">Add</a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			Add Property
			</h3>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i>Property Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" role="form" ng-submit="add_property();">
								<div class="form-body">
                                <div class="alert alert-danger" ng-if="error=='failure'">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success" ng-if="error=='success'">
                                    <button class="close" data-close="alert"></button>
                                    Client was created successfully!
                                </div>
								<h4>General Info</h4>
									<div class="form-group">
										<label class="col-md-4 control-label">
                                            Client
                                            <span class="required" aria-required="true"> * </span>
                                        </label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-user"></i>
												</span>
												<select class="form-control" ng-model="property.client_id">
												<option value="">Please select...</option>
												<option ng-repeat="client in client_list" value="{{client.id}}">{{client.name}}</option>
											</select>											
											</div>
											<p class="help-block">
												 <a ui-sref="clients.add">[Add Client]</a>
											</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Address</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-compass"></i>
												</span>
												<input type="text" class="form-control" placeholder="Street Address" ng-model="property.address">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Property Type</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-home"></i>
												</span>
												<select class="form-control" ng-model="property.type">
                                                <option value="">Please select...</option>
												<option value="single-condo">Single Condominium</option>
												<option value="single-home">Single Family Home</option>
												<option value="small-family">Small Multifamily (2-4 units)</option>
												<option value="large-family">Large Multifamily (5+ units)</option>
											</select>											
											</div>
										</div>
									</div>
									<div class="form-group" ng-controller="propertiesCtrl">
										<label class="col-md-4 control-label">Units</label>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-building"></i>
												</span>
												<input type="text" class="form-control" placeholder="# of Units" ng-model="property.total_units">
											</div>
										</div>
									</div>
								
									<div class="form-group">
										<label class="col-md-4 control-label">Reserve</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-dollar"></i>
												</span>
												<input type="text" class="form-control" placeholder="Property Reserve Amount" ng-model="property.reserve_amount">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Property Photo</label>
										<div class="col-md-8" style="margin-top:5px;">
											<div class="input-group">
												<input type="file" id="exampleInputFile1">
											</div>
										</div>
									</div>
									<hr>
									<h4>Management Agreement</h4>
									
									<div class="form-group">
										<label class="col-md-4 control-label">Fee Type</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<select class="form-control" ng-model="property.fee_type">
												<option value="">Please select...</option>
												<option value="percentage">Percentage of Rents</option>
												<option value="lump">Lump Sum</option>
											</select>											
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Amount</label>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="text" class="form-control" placeholder="Fee amount" ng-model="property.fee_amount">
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-md-4 control-label">Agreement Document</label>
										<div class="col-md-8" style="margin-top:5px;">
											<div class="input-group">
												<input type="file" id="exampleInputFile1">
											</div>
										</div>
									</div>
									
									
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button class="btn green">Next <span><i class="fa fa-angle-right"></i></span></button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>			<div class="col-md-6" ng-show="showDetails">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-search"></i>Unit Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body">
							<form class="form-horizontal" role="form">
							<div class="unitDetails">
							<h4>Unit 1 Details</h4>
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Unit Name</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="e.g. #101 or 'Upper'">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Sq. Footage</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-crop"></i>
												</span>
												<input type="email" class="form-control" placeholder="Unit Size">										
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Bedrooms</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-bed"></i>
												</span>
												<input type="email" class="form-control" placeholder="Number of Bedrooms">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Bathrooms</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-male"></i>
												</span>
												<input type="email" class="form-control" placeholder="Number of Bathrooms">
											</div>
										</div>
									</div>
									
									</div>
							<hr>
							<div class="unitDetails">
							<h4>Unit 2 Details</h4>
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-3 control-label">Unit Name</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="e.g. #101 or 'Upper'">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Sq. Footage</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-crop"></i>
												</span>
												<input type="email" class="form-control" placeholder="Unit Size">										
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Bedrooms</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-bed"></i>
												</span>
												<input type="email" class="form-control" placeholder="Number of Bedrooms">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Bathrooms</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-male"></i>
												</span>
												<input type="email" class="form-control" placeholder="Number of Bathrooms">
											</div>
										</div>
									</div>
									
									</div>
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-offset-3 col-md-9">
											<button type="submit" class="btn blue">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
			<div class="clearfix">
			</div>
			
			
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>

	