
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-users"></i>
						<a href="#/tenanta/list">Tenants</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="">Edit </a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			John Smith <small>Tenant</small>
			</h3>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i> Client Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" role="form">
								<div class="form-body">
								<h4>Personal Details</h4>
									<div class="form-group">
										<label class="col-md-3 control-label">Name</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-user"></i>
												</span>
												<input type="email" class="form-control" placeholder="Tenant Name" value="John Smith">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Email Address</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-envelope"></i>
												</span>
												<input type="email" class="form-control" placeholder="Email Address" value="john@gmail.com">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Mobile Number</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-mobile-phone"></i>
												</span>
												<input type="email" class="form-control" placeholder="Mobile Phone Number" value="123-123-1233">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Home Number</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-home"></i>
												</span>
												<input type="email" class="form-control" placeholder="Home Phone Number" value="111-111-1111">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Work Number</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-building"></i>
												</span>
												<input type="email" class="form-control" placeholder="Work Phone Number" value="999-999-9999">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Mailing Address</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-envelope"></i>
												</span>
												<input type="email" class="form-control" placeholder="Primary Mailing Address" value="123 Main street, Anytown, CA">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Date of Birth</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Date of Birth" value="12/31/1999">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">SSN or EIN</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-gavel"></i>
												</span>
												<input type="email" class="form-control" placeholder="Tax ID" value="123-23-1233">
											</div>
										</div>
									</div>
									
									<hr>
									<h4>Emergency Contact</h4>
									<div class="form-group">
										<label class="col-md-3 control-label">Name</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-user"></i>
												</span>
												<input type="email" class="form-control" placeholder="Emergency Contact's Name" value="Bob Smith">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Relationship</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-users"></i>
												</span>
												<input type="email" class="form-control" placeholder="Relationship to Tenant" value="Father">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Phone</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-phone"></i>
												</span>
												<input type="email" class="form-control" placeholder="Contact's Phone Number" value="456-222-2222">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-3 control-label">Email</label>
										<div class="col-md-9">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-envelope"></i>
												</span>
												<input type="email" class="form-control" placeholder="Contact's Email Address" value="bob@gmail.com">
											</div>
										</div>
									</div>
									
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button type="submit" class="btn green">Update <span><i class="fa fa-refresh"></i></span></button>										
											</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box blue ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i> Lease Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
								<ul class="list-group">
								<li class="list-group-item">
									 <strong>Status:</strong> Current Tenant
								</li>
								<li class="list-group-item">
									 <strong>Tenant Since:</strong> Jun-11-2012 
								</li>
								<li class="list-group-item">
									 <strong>Current Lease Expires:</strong> Jun-11-2016 (200 Days)
								</li>
								<li class="list-group-item">
									 <strong>Lease Property:</strong> 123 Main St. Anytown, CA 
								</li>
								<li class="list-group-item">
									 <strong>Leased Unit:</strong> 105 
								</li>
								<li class="list-group-item">
									 <strong>Rent rate:</strong> $900 
								</li>
								<li class="list-group-item">
									 <strong>Rent Frequency:</strong> Monthly 
								</li>
								<li class="list-group-item">
									 <strong>Next Rent Due Date:</strong> Jul-1-2015 
								</li>
								<li class="list-group-item">
									 <strong>Deposit:</strong> $900 - Recieved June-10-2012 
								</li>
							</ul>						
							
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>
	