
			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="#/">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-home"></i>
						<a href="#/transactions/list">Transactions</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Add Transaction </a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			Add Transaction
			</h3>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i> Transaction Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-4 control-label">Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Bill Date">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Property</label>
										<div class="col-md-8">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-user"></i>
														</span>
														<select class="form-control">
														<option>123 Main St</option>
														<option>123 Main St</option>
														<option>123 Main St</option>
														</select>											
													</div>	
													</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Reference Number</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="i.e. Invoice Number">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Comments</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Transaction Details?">
											</div>
										</div>
									</div>
									<hr>
									
									<h4>Details</h4>
									<div class="row">
										<div class="col-md-4">
										Account
										</div>
										<div class="col-md-4">
										Debit
										</div>
										<div class="col-md-4">
										Credit
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="input-group">
															<div class="input-group">
																<select class="form-control">
																<option value="" disabled selected>Account</option>
																<option> Asset Account 1</option>
																<option> Income Account 1</option>
																<option> Expense Account 1</option>
																</select>	
										
															</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="input-group">
															<div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-dollar"></i>
															</span>
																<input type="email" class="form-control" placeholder="Debit">										
															</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="input-group">
															<div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-dollar"></i>
															</span>
																<input type="email" class="form-control" placeholder="Credit">										
															</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="input-group">
															<div class="input-group">
																<select class="form-control">
																<option value="" disabled selected>Account</option>
																<option> Asset Account 1</option>
																<option> Income Account 1</option>
																<option> Expense Account 1</option>
																</select>	
										
															</div>
											</div>
										</div>
										<div class="col-md-4">
											<div class="input-group">
															<div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-dollar"></i>
															</span>
																<input type="email" class="form-control" placeholder="Debit">										
															</div>
											</div>
										</div>
								
										<div class="col-md-4">
											<div class="input-group">
															<div class="input-group">
															<span class="input-group-addon">
															<i class="fa fa-dollar"></i>
															</span>
																<input type="email" class="form-control" placeholder="Credit">										
															</div>
											</div>
										</div>
										
									</div>
									<p class="help-block">
											 Two accounts must be selected, debits must match credits.
										</p>
								
									<hr>
									<div class="input-group">
										<label for="exampleInputFile1">File Upload</label>
										<input type="file" id="exampleInputFile1">
										<p class="help-block">
											 Upload reference such as invoice or bill.
										</p>
									</div>
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button type="submit" class="btn green">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
			<div class="clearfix">
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>
	