			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE HEADER-->
			<div class="page-bar">
				<ul class="page-breadcrumb">
					<li>
						<i class="fa fa-home"></i>
						<a href="index.html">Home</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<i class="fa fa-bank"></i>
						<a href="">Transactions</a>
						<i class="fa fa-angle-right"></i>
					</li>
					<li>
						<a href="#">Add</a>
					</li>
				</ul>

			</div>
			<h3 class="page-title">
			Add Work Order
			</h3>
			<!-- END PAGE HEADER-->
			<div class="row">
			<div class="col-md-6 ">
					<!-- BEGIN SAMPLE FORM PORTLET-->
					<div class="portlet box green ">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-tag"></i> Details
							</div>
							<div class="tools">
								<a href="" class="collapse" data-original-title="" title="">
								</a>
								
								
							</div>
						</div>
						<div class="portlet-body form">
							<form class="form-horizontal" role="form">
								<div class="form-body">
									<div class="form-group">
										<label class="col-md-4 control-label">Description</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Work Required">
											</div>
										</div>
									</div><div class="form-group">
										<label class="col-md-4 control-label">Date</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Date">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Vendor</label>
										<div class="col-md-8">
											<div class="input-group">
													<div class="input-group">
														<span class="input-group-addon">
														<i class="fa fa-user"></i>
														</span>
														<select class="form-control">
														<option>Mark's Painting</option>
														<option>Larry the Lawyer</option>
														<option>Landscaping INC</option>
														</select>											
													</div>											
													<p class="help-block">
														<a href="">[+ Create New Vendor ]</a>
													</p>
													</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Reference Number</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="i.e. Invoice Number">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Property</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-home"></i>
												</span>
													<select class="form-control">
														<option>Select Property</option>
														<option>123 Main St</option>
														<option>Larry the Lawyer</option>
														<option>Landscaping INC</option>
														</select>													</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Entry Allowed?</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-home"></i>
												</span>
													<select class="form-control">
														<option>Select</option>
														<option>yes</option>
														<option>no</option>
														</select>													</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Bill To:</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Work will be billed to:">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Comments</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<input type="email" class="form-control" placeholder="Details of Work">
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-md-4 control-label">Status</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-tag"></i>
												</span>
												<select class="form-control">
														<option>Requested</opption>
														<option>In Progress</option>
														<option>Closed</option>
													</select>												
												</div>
										</div>
									</div>
									<hr>
									
									<h4>Expense Details</h4>
									
									<div class="form-group">
										<label class="col-md-4 control-label">Estimate</label>
										<div class="col-md-8">
											<div class="input-group">
												<span class="input-group-addon">
												<i class="fa fa-dollar"></i>
												</span>
												<input type="email" class="form-control" placeholder="Estimated Cost">
											</div>
										</div>
									</div>
									
									
								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-9">
											<button type="submit" class="btn green">Submit</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- END SAMPLE FORM PORTLET-->
					</div>
			</div>
			<div class="clearfix">
			</div>
<script type="text/javascript">
Layout.refreshNav();
</script>